---

import GitHub from '../components/icons/GitHub.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import Mail from '../components/icons/Mail.astro';
import Typewriter from '../components/animations/Typewriter.jsx';
import Layout from '../layouts/Layout.astro';
import FadeInGsap from '../components/animations/FadeInGsap.jsx'
import InfoSection from '../components/InfoSection.astro';
import CV from '../components/icons/CV.astro';
import Presentacion from '../components/Presentacion.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import Experiences from '../components/Experiences.astro';
import Extra from '../components/Extra.astro';
import Busqueda from '../components/Busqueda.astro';
import ContactME from '../components/ContactME.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main class="flex flex-col justify-center px-4 sm:px-6">
		<section class="mx-auto pt-20 pb-10 px-4 sm:px-6 max-w-screen-lg">

		
		
			
			<div class="text-3xl sm:text-5xl lg:text-6xl font-extralight border-y-4 border-zinc-800 py-2 rounded-md text-center">
			  <Typewriter delay={50} client:load text="Daniel Rodríguez" />
			</div>
		  </section>
		  
		<section class="flex flex-col justify-center    animate-fade-right animate-duration-3000"> 
			<Presentacion/>
			
		</section>
		
			<InfoSection  />
			
		
			<ProjectsSection/>
		
			<Experiences/>
		
			<Busqueda/>
	
			<Extra/>

			<ContactME/>
		
	</main>
	


	  
</Layout>
