---

import ScrollTypewriter from "./animations/ScrollTypeWritter";
import FadeInX from "./animations/FadeInX";
---


 
  <section  class="objetivos w-160 max-h-fit  mx-auto pt-20 mb-40">
    <h2 class="text-4xl max-h-fit w-fit font-thin m-2 -ml-15 rounded-md bg-slate-800 text-amber-50 p-1 text-right">
        ¿QUÉ BUSCO?
      </h2>
      <FadeInX client:visible>
      <div class="border-x-4 rounded-md text-lg p-4 max-w-150 my-7">
       Oportunidades como <strong>Fullstack Developer</strong> 
        o <strong>Cloud Architect</strong>, en equipos donde se priorice la <strong>calidad del código</strong>,
         la <strong>automatización</strong> y el diseño de <strong>sistemas escalables</strong>.
        
      </div>
    </FadeInX>
    <FadeInX client:visible>
      <div class="border-x-4 rounded-md text-lg p-4 ml-10 max-w-150 mb-7">
       Especializado en el desarrollo con <strong>React</strong> 
       y <strong>Astro</strong> para el frontend, y en <strong>Spring Boot</strong> como backend principal.
        Además, tengo experiencia sólida en <strong>contenerización con Docker</strong> 
        y despliegue en entornos <strong>cloud</strong> (especialmente <strong>AWS</strong>).
        
      </div>
      
    </FadeInX>
    <FadeInX client:visible>
      <div class="border-x-4 rounded-md text-lg p-4 max-w-150 mb-7">
      Interesado en trabajar en proyectos con enfoque técnico sólido, que utilicen <strong>arquitecturas modernas</strong>
       y que promuevan la <strong>colaboración entre áreas</strong>.
        
      </div>
      
    </FadeInX>
    <FadeInX client:visible>
      <div class="border-x-4 rounded-md text-lg p-4 ml-10 max-w-150 mb-7">
        Estoy abierto a oportunidades en modalidades <strong>remotas</strong> o <strong>híbridas</strong>,
         donde pueda integrarme en equipos colaborativos y aportar valor desde un enfoque técnico sólido.
          Busco entornos de trabajo que fomenten el <strong>desarrollo profesional</strong>,
         con proyectos que presenten retos reales.
        
      </div>
    </FadeInX>
</section>

