---
import FadeInGsap from "./animations/FadeInGsap";
import ScrollTypewriter from "./animations/ScrollTypeWritter"; // Asegúrate de que el path sea correcto
---

    <FadeInGsap client:visible>
    
      <section id="extra" class="extra w-160 max-h-fit  mx-auto pt-20 mb-20">
        <h2 class="text-4xl max-h-fit w-fit font-thin m-2 -ml-15 rounded-md bg-slate-800 text-amber-50 p-1 text-right">
            ¿Y MÁS ALLÁ DEL TRABAJO ?
          </h2>
          <div class="border-x-4 rounded-md text-lg p-4 bg-slate-800 flex flex-col">
            <div class="w-150 h-10 bg-slate-800 rounded-[100%] z-50 -mb-5"></div>
            <div class="w-150  py-10  px-6 rounded-md bg-amber-50 text-lg prose">
             <p>
                    Durante cinco años fui voluntario organizando actividades socioeducativas para jóvenes,
                una experiencia que reforzó mi pasión por el trabajo en equipo y el impacto positivo que se puede generar en comunidad. 
                 
                </p>
                <p>
                    Me encanta aprender y vivir nuevas experiencias. Invierto mi tiempo en actividades como
                    leer, ver películas y series. <br/>Mantengo mi cuerpo y mente en forma practicando judo y estudiando otros idiomas, como el japonés.
                    También disfruto viajando y conociendo diferentes culturas.<br/> Siempre estoy buscando algo que me inspire y sea desafiante.
                </p>
                
             
            </div>
            <div class="w-150 h-10 bg-slate-800 rounded-[100%] -mt-5"></div>
            
              
           
          </div>
    </section>
    </FadeInGsap>


